In [35]:
import numpy as np
import matplotlib.pyplot as plt #this lib is used for plotting the graphs
import pandas as pd

In [37]:
dataset = pd.read_csv('C:/Users/admin/Desktop/sem 2/SEM 2 PYTHON/petrol_consumption.csv')
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [40]:
X = dataset.iloc[:, :-1]
X.head()

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

In [41]:
y = dataset.iloc[:, -1]
y.head()

0    541
1    524
2    561
3    414
4    410
Name: Petrol_Consumption, dtype: int64

In [44]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state = 0)
# print(X_train.shape)
# print(X_test.shape)
# print(y_test.shape)
# print(y_train.shape)
print(X_test)

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
29         9.0            3601            4650                         0.493
4          8.0            4399             431                         0.544
26         8.0            3448            5399                         0.548
30         7.0            3640            6905                         0.518
32         8.0            3063            6524                         0.578
37         7.0            3897            6385                         0.586
34         8.0            3528            3495                         0.487
40         7.0            4449            4639                         0.626
7          8.0            5126            2138                         0.553
10         8.0            4391            5939                         0.530
11         7.5            5126           14186                         0.525
31         7.0            3333            6594                         0.513
33         7.5            3357            4121                         0.547
27         7.5            3846            9061                         0.579
47         7.0            5002            9794                         0.593

In [43]:
print(y_test)

29    534
4     410
26    577
30    571
32    577
37    704
34    487
40    587
7     467
10    580
11    471
31    554
33    628
27    631
47    524
Name: Petrol_Consumption, dtype: int64

In [45]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor1 = regressor.fit(X_train, y_train)

In [46]:
regressor.coef_

array([-4.32002165e+01, -6.72812374e-02, -5.85078038e-03,  1.33111570e+03])

In [47]:
print(regressor.intercept_)

470.3637182664524

In [48]:
# Predicting the Test set results
import pandas as pd
y_pred = regressor1.predict(X_test)
print(y_pred)
df = pd.DataFrame(y_test,y_pred)
print(df)

[468.31594627 550.39707846 590.63932111 572.1767937  649.89394062
 648.44378918 515.19865018 674.76463673 503.47637809 500.07361023
 417.31504469 587.99614777 624.50820356 605.30052585 563.47052146]
            Petrol_Consumption
468.315946                 NaN
550.397078                 NaN
590.639321                 NaN
572.176794                 NaN
649.893941                 NaN
648.443789                 NaN
515.198650                 NaN
674.764637                 NaN
503.476378                 NaN
500.073610                 NaN
417.315045                 NaN
587.996148                 NaN
624.508204                 NaN
605.300526                 NaN
563.470521                 NaN

In [49]:
regressor.score(X_test,y_test)

0.2935753443728891

In [50]:
data = np.concatenate((X_test, np.expand_dims(y_test, axis=1), np.expand_dims(y_pred, axis=1)), axis=1)
df = pd.DataFrame(data=data)
df.to_csv("prediction_vs_test_petrol_consumption_main.csv")

In [53]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

    Actual   Predicted
29     534  468.315946
4      410  550.397078
26     577  590.639321
30     571  572.176794
32     577  649.893941
37     704  648.443789
34     487  515.198650
40     587  674.764637
7      467  503.476378
10     580  500.073610
11     471  417.315045
31     554  587.996148
33     628  624.508204
27     631  605.300526
47     524  563.470521